@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Firecode";
    src: url("../../public/FiraCode.ttf");
    font-display: swap
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: "Firecode", Courier, monospace;
    color: white;
}

@layer arrow {
    .arrow {
        clip-path: polygon(0 50%, 100% 100%, 100% 0);
    }
}