@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Firecode";
    src: url("../../public/FiraCode.ttf");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #5b6367;
    background-image: linear-gradient(135deg, #5b6367 0%, #323240 100%);
    font-family: "Firecode", Courier, monospace;
    color: white;
}

@layer utilities {
    .arrow {
        clip-path: polygon(0 50%, 100% 100%, 100% 0);
    }
}

